<header><%# render 'layouts/application' %></header>


<h2>Customer Service</h2>
<h3>Phone: 1-888-782-5633</h3>
<h3>Email: help@VirtualVisit.co</h3>
<h2>Reaching your Doctor:</h2>
<h3><a href="http://redtube.com">Please fill out this form</a></h3>
