<title>Virtual Visit</title>
<%= csrf_meta_tags %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<%= stylesheet_link_tag    'application', media: 'all',
'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
</head>
<body>

    <div class="row">

  <div class="col s4">
    <div class="img">
    <img class="responsive-img" src="virtualvisitlogo00.png" alt="virtual visit logo">
  </div>
  </div>
  <div class="col s4">
    <div class="center-align">
    <p>We understand that sometimes, obtaining health services can be difficult, slow, and costly.
      Virtual Visit is here to help.</p>
      <p> We are a service that provides you access to Medical Care,
      for those situations where you don't need to go to the Emergency Room, but need care as soon as possible.</p>
</div>
  </div>
  <div class="col s4">
    <div class="center-align">
      <p>We welcome all of those who do not have insurance, or want to receive care outside of their insurance plan.
      </p>
      <p>Some past health history is required, to be able to virtually meet with our Medical professionals.
        We accept any EHR's you provide, and will prescribe according to past medical history.</p>
      </div>
    </div>
    <div class="center-align">
        <p> In some cases, Virtual Visit cannot provide essential care, due to the limitations of video substituting
          for an in-office visit.  Please note, that a partial payment will be refunded to those that receive
          a recommendation for in person care, emergency or non emergency.</p>
      </div>
      <div class="center-align">
          <p>Some patients will also be required
          to receive lab work or additional tests that are outside the scope of our network.  We do have
          recommendations for where to go for the additional requirements.</p>
      </div>

    <!-- </div> -->

      </body>
      </html>
