/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */
 // @media #{$small-and-down} {
  // styles for small screens and down
// }

 nav {
   // background-color: #009688;
 }
 // .footer-copyright {
   // background-color: #ee6e73;;
 // }
 body {
   background-color: #eceff1;
 }
 // .card-panel {
 //   font-size: 18px;
 // }
 #title {
   font-size: 36px;
 }
#doctor_name {
  color: black;
}
.footer-copyright {
  text-align: center;
}
 .input-field label {
      color: black;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
      color: #63d6fe;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
      border-bottom: 1px solid #63d6fe;
      box-shadow: 0 1px 0 0 #d7dae0;
    }
    /* valid color */
    .input-field input[type=text].valid {
      border-bottom: 1px solid #00be7f;
      box-shadow: 0 1px 0 0 #00be7f;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
      border-bottom: 1px solid #fe1313;
      box-shadow: 0 1px 0 0 #fe1313;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
      color: #000;
    }
    #brand {
      text-align: center;
      color: #616161;
    }
    a:link {
      color: #424242;
    }
    a:visited {
      color: #424242;
    }
    a:hover {
      color: #424242;
      background-color: #e57373;
    }
    a:active {
      color: #424242;
      background-color: #424242;
    }
